@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@100&family=Source+Code+Pro:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: 'Black Ops One', 'Roboto', 'Source Code Pro', sans-serif;
}
.wrapper{
    display: flex;
    align-items: flex-start;
}
.image-space{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(jeet-dhanoa-z3dCfQkJdMI-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}
.logo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:   rgb(0,0,0,50%)
    
}
.logo-container > span{
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    padding: 2.5rem;
    transform: scaleY(1.2);
    transform: scaleX(1.2);
}
.content-space{
    background-color: rgb(230, 125, 45,35%);
    height: 100%;
    width: 100%;
}
.text-register-container{
    font-size: 1.7rem;
    color: darkblue;
    padding: 3rem;
}
.signup-space{
    padding: 3rem;
    width: 100%;
    background-color: rgb(230, 125, 45,35%);
    border: 2px solid black;
    border-radius: 6px;
}
.bordered-sign{
    border: 2px solid black;
    border-radius: 6px;
}
.signup-logo{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
#signup-logo{
    border-radius: 20px;
}
#signup-logo-text{
    padding: 2rem;
}
.space-taker{
    width: 50%;
    
}
.signup-text{
    padding-top: 1rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.signup-form{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 3rem;
}
.names{
    display: flex;
    width: 100%;
}
.first-name-holder{
    display: block;
}
.last-name-holder{
    display: block;
}
.email-holder,.first-name-holder,.last-name-holder,.phone-holder,.password-holder,.submit-holder{
    display: block;
}
.email-holder{
    max-width: 186.28px;
    min-width: 100px;
}
.phone{
    max-width: 200px;
    min-width: 100px;
}
.password-holder{
    max-width: 186.28px;
    min-width: 100px;
}
.submit-password{
    max-width: 200px;
    min-width: 100px;
}
#phone-number-input{
    max-width: 190px;
    min-width: 100px;
}
#last-name{
    min-width: 180px;
    min-width: 100px;
}
form{
    color: magenta;
    width: 50%;
    height: 100%;
}
label{
    display: block;
}
.wrapper-email-phone{
    display: flex;
    width: 100%;
}
.wrapper-passwords{
    display: flex;
    width: 100%;
}
.submit-button{
    display: flex;
}
#create-button{
    padding: 30px 60px;
    margin-left: 5rem;
}
input{
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    padding: 20px;
    background-color: rgb(0,128,0,60%);
    border: 2px solid gray;
    border-radius: 7px;
}
input[type="submit"]:hover{
    background-color: green;
}
p em {
    font-size: 1.3rem;

}
a{
    text-decoration: none;
    color: blueviolet;
}
a.sign-in-link:hover{
    color: rgb(138,43,226,70%);
    text-decoration: underline;
    font-size: 1.8rem;
}
.first-name-cryteria{ 
    font-size: 0.7rem;
    margin-left: 1rem;
}
#signup-image{
max-width: 70%;
max-height: 100%;
min-width: 200px;
}
#thepassword,#theemail,#thesubmitpassword,#thephone,#thename,#thelastname{
    visibility: hidden;
}
ul{
    font-size: 0.7rem;
    list-style-type: none;
    margin: 0;
    line-height: 1rem;
    letter-spacing: 0.1rem;
}
input.invalid{
    border-color: red;
    box-shadow: red;
    color: red;
}
input.valid{
    color: green;
    box-shadow: green;
    border-color: green;
}
.cryteria.valid{
    color: green;
}
.cryteria.invalid{
    color: red;
}
.register-wrapper{
    display: grid;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1388px) {
    
    .wrapper,form,.signup-form,.space-taker,.register-wrapper {
      flex-direction: column;
    }
    .wrapper-email-phone,.wrapper-passwords,.names{
        display: block;
    }
    .image-space{
        width: 100%;
    }
  }

